<nav class="navbar navbar-expand-lg shadow fixed-top mb-5">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboard">Github App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" routerLink="/dashboard">Profile</a>
        <a class="nav-link" routerLink="/analiitk">Analytics</a>
        <button
          class="btn btn-outline-dark"
          style="width: 130px"
          (click)="removeToken()"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-5 py-5">
  <div class="card shadow">
    <div class="card-body">
      <h3 class="card-title">Edit Profile</h3>
      <form (ngSubmit)="submitForm()">
        <div class="mb-3">
          <label for="inputName" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="inputName"
            placeholder="Tulis Nama Kamu Yaa.."
            [(ngModel)]="newName"
            name="newName"
          />
        </div>
        <div class="mb-3">
          <label for="inputBio" class="form-label">Bio</label>
          <textarea
            class="form-control"
            id="inputBio"
            rows="3"
            placeholder="Tulis Bio Kamu Yaa.."
            [(ngModel)]="newBio"
            name="newBio"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="inputLocation" class="form-label">Location</label>
          <input
            type="text"
            class="form-control"
            id="inputLocation"
            placeholder="Tulis Lokasi Kamu yaa.."
            [(ngModel)]="newLocation"
            name="newLocation"
          />
        </div>
        <button type="submit" class="btn btn-dark">
          Simpan Perubahan Data
        </button>
      </form>
    </div>
  </div>
</div>
